@page "{id:guid}"
@model Bloggie.Web.Pages.Admin.Blogs.Edit

@{
  ViewData["Title"] = "Edit Blog Post";
}

@section Styles
{
  <link rel="stylesheet" href="https://uicdn.toast.com/editor/3.2.2/toastui-editor.min.css" />
  <link rel="stylesheet" href="~/lib/tom-select/dist/css/tom-select.bootstrap5.min.css" />
}
@section Scripts
{
  <script src="https://uicdn.toast.com/editor/3.2.2/toastui-editor-all.min.js"></script>
  <script src="~/js/blog-image-toast.js" type="module" asp-append-version="true"></script>
  <script type="module">
    import { createToastEditor, uploadedImageIds, createImageIdInput } from '/js/blog-image-toast.js'
    
    const textarea = document.querySelector('[name="Blog.ContentMarkdown"]');
    const editor = createToastEditor('#editor', textarea);

    document.querySelector('form').addEventListener('submit', () => {
      // insert image ids to backend input area
      const uploadedImageIdsDiv = document.getElementById('uploaded-image-ids');
      uploadedImageIdsDiv.innerHTML = "";
      uploadedImageIds.forEach(id => uploadedImageIdsDiv.appendChild(createImageIdInput(id, 'Blog')));

      textarea.value = editor.getMarkdown();
    });
</script>
  
  <script src="~/lib/tom-select/dist/js/tom-select.popular.min.js"></script>
  <script>
    const tags = new TomSelect('#tag-ids', {
      plugins: ['remove_button'],
      maxItems: null,
      create: false,
      allowEmptyOption: true,
      placeholder: 'Select tags',
    })    
  </script>
}


<h3 class="text-center pb-5">Edit Blog Post</h3>

<div class="w-75 mx-auto">
  <form method="post">
    <input type="hidden" asp-for="Blog.Id" />
    <div class="row mb-3">
      <label class="col-sm-2 col-form-label" asp-for="Blog.Heading">
        @Messages.Get("BlogPost.Heading")
      </label>
      <div class="col-sm-10">
        <input type="text" class="form-control" asp-for="Blog.Heading" bs-valid>
        <span asp-validation-for="Blog.Heading" bs-feedback></span>
      </div>
    </div>

    <div class="row mb-3">
      <label class="col-sm-2 col-form-label" asp-for="Blog.PageTitle">
        @Messages.Get("BlogPost.PageTitle")
      </label>
      <div class="col-sm-10">
        <input type="text" class="form-control" asp-for="Blog.PageTitle" bs-valid>
        <span asp-validation-for="Blog.PageTitle" bs-feedback></span>
      </div>
    </div>
    
    <div class="row mb-3">
      <label class="col-sm-2 col-form-label" asp-for="Blog.TagIds">
        @Messages.Get("BlogPost.Tags")
      </label>
      <div class="col-sm-10">
        <select id="tag-ids" class="form-select" asp-for="Blog.TagIds" bs-valid autocomplete="off" multiple>
          <option value="">Select Tags...</option>
          @foreach (var tag in Model.Tags)
          {
            <option value="@tag.Id">@tag.Name</option>
          }
        </select>
        <span asp-validation-for="Blog.TagIds" bs-feedback></span>
      </div>
    </div>
    
    <div class="row mb-3">
      <label class="col-sm-2 col-form-label" asp-for="Blog.Slug">
        @Messages.Get("BlogPost.Slug")
      </label>
      <div class="col-sm-10">
        <input type="text" class="px-3 form-control-plaintext" asp-for="Blog.Slug" bs-valid readonly>
        <span asp-validation-for="Blog.Slug" bs-feedback></span>
      </div>
    </div>

    <div class="row mb-3">
      <label class="col-sm-2 col-form-label" asp-for="Blog.ContentMarkdown">
        @Messages.Get("BlogPost.Content")
      </label>
      <div class="col-sm-10">
        <div id="editor"></div>
        <div id="uploaded-image-ids"></div>
        <textarea class="form-control" row="3" asp-for="Blog.ContentMarkdown" bs-valid hidden></textarea>
        <span asp-validation-for="Blog.ContentMarkdown" bs-feedback></span>
      </div>
    </div>

    <div class="row mb-3">
      <label class="col-sm-2 col-form-label" asp-for="Blog.ShortDescription">
        @Messages.Get("BlogPost.ShortDescription")
      </label>
      <div class="col-sm-10">
        <input type="text" class="form-control" asp-for="Blog.ShortDescription" bs-valid>
        <span asp-validation-for="Blog.ShortDescription" bs-feedback></span>
      </div>
    </div>

    <div class="row mb-3">
      <label class="col-sm-2 col-form-label" asp-for="Blog.PublishedDate">
        @Messages.Get("BlogPost.PublishedDate")
      </label>
      <div class="col-sm-10">
        <input type="date" class="form-control" asp-for="Blog.PublishedDate" bs-valid>
        <span asp-validation-for="Blog.PublishedDate" bs-feedback></span>
      </div>
    </div>

    <div class="row mb-3">
      <label class="col-sm-2 col-form-label" asp-for="Blog.Author">
        @Messages.Get("BlogPost.Author")
      </label>
      <div class="col-sm-10">
        <input type="text" class="form-control" asp-for="Blog.Author" bs-valid>
        <span asp-validation-for="Blog.Author" bs-feedback></span>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-sm-10 offset-sm-2">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" asp-for="Blog.Visible" bs-valid>
          <label class="form-check-label" asp-for="Blog.Visible">
            @Messages.Get("BlogPost.Visible")
          </label>
        </div>
        <span asp-validation-for="Blog.Visible" bs-feedback></span>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-sm-10 offset-sm-2">
        <button type="submit" class="btn btn-outline-primary">
          @Messages.Get("BlogPost.Edit")
        </button>
      </div>
    </div>

  </form>
</div>
