@page
@model IndexModel
@{
    ViewData["Title"] = "Index";
}
<div class=" bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h2>Blog Posts</h2>
    </div>
</div>

<div class="mt-4">
    <div class="container">
        <table class="table table-striped align-middle">
            <thead>
            <tr>
                <th>Id</th>
                <th>Heading</th>
                <th>Page Title</th>
                <th>Short Description</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var blogPost in Model.BlogPosts)
            {
                <tr>
                    <td>@blogPost.Id</td>
                    <td>@blogPost.Heading</td>
                    <td>@blogPost.PageTitle</td>
                    <td>@blogPost.ShortDescription</td>
                    <td class="d-flex justify-content-center align-content-center">
                        <div class="mx-1">
                            <a
                                asp-page="/Admin/Blogs/Edit"
                                asp-route-id="@blogPost.Id"
                                class="btn btn-outline-secondary btn-sm">
                                Edit
                            </a>
                        </div>

                        <div class="mx-1">
                            <form method="POST" asp-page-handler="Delete" asp-route-id="@blogPost.Id">
                                <button
                                    type="submit"
                                    class="btn btn-outline-danger btn-sm">
                                    Delete
                                </button>
                            </form>
                        </div>

                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
